:root{
    --fundo: #4169E1;
    --cartao-frente: #000080;
    --cartao-verso: #0606ce;
    --destaque: #00bFFF;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 3rem;
    justify-content: space-between;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}
